h1
{
    /* color: rgb(red, green, blue) */
    color: rgb(122, 18, 199);
    /* color:#000000 */
    /* this is called hexa decial */
    /* 122/16, 18/16, 199/16 is euql to hexadecial value */
    /* after 9 10=a, 11=b...15=f */


    /* HSL */
    /* color: hsl(1, 62%, 78%); */
    /* has also having hsla */
    
    /* here we are providing rgba value */
    background-color: rgba(255, 0, 0, .1);
}

body
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    /* font size calculation
    {
        1em=100%=16px
        normally basic size of the font is above mentioned
    } */
    /* default font size is 16px or 100% */

}
p
{
 font-size: 1em;   
}