body
{
    background-color: aqua;
}
.container
{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 200px 200px auto; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: minmax(300px, 1fr) 1fr 1fr; */
    /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: 1fr 2fr 1fr;
    column-gap: 20px;
    row-gap: 12px;
    gap: 20px;
}
.para
{
    padding: 1rem;
    background-color: blue;
    color: whitesmoke;
}